.box {
    width: 50%;
    min-height: 100vh;
    padding: 5px;
}

.boxover {
    width: 100%;
    min-height: 100vh;
    padding: 5px;
}
.wrapper {
  display:flex;
  justify-content:space-between;
  width:100vw;
}

.regdiv {
    background-color:#9fc5d9;
    float:left;
    border-right: 5px solid transparent;
    border-color: black;
}

.regdiv h2{
    left: -25%;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

.fundiv{
    background-color: #4B4038;
    float:right;
    border-left: 5px solid transparent;
    border-color: black;
}

.fundiv h2{
    right: -25%;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

.testdiv {
    position: absolute;
    transform: translateX(100%);
    background-image: url("../assets/wood_texture.jpg");
    background-size:cover;
    mask: conic-gradient(from 37.5deg at left,#0000,#000 1deg 104deg,#0000 105deg) 50%/100% 5.21em;
    pointer-events: none;
    z-index: 1;
}

.testdiv h2{
    left: -15%;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}


.testdiv2 {
    position: absolute;
    transform: translateX(-100%);
    background-image: linear-gradient(to right, DeepSkyBlue , LightCyan);
    background-size:cover;
    mask: conic-gradient(from -142.5deg at right,#0000,#000 1deg 104deg,#0000 105deg) 50%/100% 5.21em;
    border-right: 5px solid transparent;
    border-color: black;
    pointer-events: none;
    z-index: 1;
}

.testdiv2 h2{
    left: -15%;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}




@keyframes slide-right {
    from {
        transform: translateX(100%);
    }
    to {

        transform: translateX(40%);
    }
   }

@keyframes slide-left {
     from {
        transform: translateX(40%);
     }
     to {
        transform: translateX(100%);
        display: none;
    }
   }

   @keyframes slide-right2 {
    from {
        transform: translateX(-100%);
    }
    to {

        transform: translateX(-40%);
    }
   }

@keyframes slide-left2 {
     from {
        transform: translateX(-40%);
     }
     to {
        transform: translateX(-100%);
        display: none;
    }
   }
